<!DOCTYPE html>
<html ng-app="myApp">

<!--- Angular JS Import --->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!--- BootStrap JS Import --->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--- Icon Import --->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--- app.js Import --->
<script src="app.js"></script>
    
    
<!--- Styles --->
<style>
	.textcolor
	{
		color: white;	
	}
	.jumbotron{
		color:black;
        opacity: 0.8;
        filter: alpha(opacity=50); /* For IE8 and earlier */
        width:640px;
        height:320px;
        margin: auto;
	}
	.nav-tabs {
		margin-bottom: 0;
	}
	.fa {
		padding: 15px;
  		font-size: 30px;
  		text-align: center;
  		text-decoration: none;
  		margin: 5px 2px;
  		border-radius: 10%;
		}

	.fa:hover {
    	opacity: 0.7;
		}
	.fa-facebook {
  		background: #3B5998;
  		color: white;

		}
	.carousel {
  			width:640px;
  			height:320px;
  			margin:auto;
	}
	.carousel-inner img{
		margin:auto;
	}
</style>
    
    <!--- NAVBAR --->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Matthew Chuong</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">About Me</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Resume</a></li> 
        <li><a href="#">Portfolio</a></li> 
      </ul>
    </div>
  </div>
</nav>
    
        <div class ="container">
        <div class="jumbotron" ng-controller="myCtrl">
        <h1>{{firstName + " " + lastName}}</h1>
            <div class="col-sm-4">
            <h1>{{theTime}}</h1>
            </div>
        </div>
        </div>
    
    
    
<!--- Footer --->
    <div style="margin-bottom: 0; background-color:black; color:white; opacity: 100; padding: 30px;">
<div class="row">
<div class="col-sm-4">
<div class="col-sm-4"><h3 style="text-align: center;">Connect</h3>
<h4 style="text-align: center;"><a href="" class="fa fa-facebook"></a></h4></div>
</div>	
</div>
    
</html>